{% load static %}

<div class="row centered">
    <br>
    <br>
    <div class="col-lg-8 col-lg-offset-2">
        <h4>Цей сайт створено завдяки:</h4>
        <h3>
            <p>
                <a href="https://www.python.org/">Python, </a>
                <a href="https://www.djangoproject.com/">Django, </a>
                <a href="https://www.postgresql.org/">Postgresql, </a>
                <a href="https://getbootstrap.com/">Bootstrap, </a>
                <a href="https://www.heroku.com/">Heroku</a>
            </p>
        </h3>
        <p>
            <br>
            <br>
        </p>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-10 col-lg-offset-1">
        <img src="{% static 'img/mon.png' %}" alt="" class="img-responsive">
    </div>
</div>