{% extends 'base/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}


{% block content %}

<div class="container">
<div class="row">
<div >
     {% for category in category_list %}
      <div class="col-lg-4 mx-auto">
        <img src="{% static 'img/logo.png' %}" class="bd-placeholder-img rounded-circle" width="140" height="140" >
        <h2><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></h2>
        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
{% endfor %}
    </div><!-- /.row -->
    </div>

{% endblock %}