{% load static i18n %}
{% load category_tags %}

<div class="container  ">
    {% if request.user.is_authenticated %}
    <h4><i class="fa fa-clipboard" aria-hidden="true"></i>{% trans "CATEGORIES"%}<i class="fa fa-clipboard" aria-hidden="true"></i></h4>
    <br>
    <br>
    <br>
    <div class="row truncate-text">
        {% get_list_category as categories %}
        {% for category in categories %}

        <div class="col-lg-4 truncate-text">
            <a href="{{ category.get_absolute_url  }}"  class="btn btn-lg btn-info"><i class="fa fa-info-circle fa-2x" aria-hidden="true"></i><h3>{{category.name}}</h3></i></a>
            <br>
            <br>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>