 p.clip {
    white-space: nowrap; /* Заборона переноса речення */
    overflow: hidden; /* Обріз, того що не переноситься */
    padding: 5px; /* Поле навколо тексту*/
    text-overflow: ellipsis; /* ДОбавляємо трикрапки */
   }

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
