 p.clip {
    white-space: nowrap; /* Заборона переноса речення */
    overflow: hidden; /* Обріз, того що не переноситься */
    padding: 5px; /* Поле навколо тексту*/
    text-overflow: ellipsis; /* ДОбавляємо трикрапки */
   }

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


.code_box {
    float: left;

    margin: 0 0 10px 10px;
    background-color: #eb5959;
    border-radius: 10px 10px 10px 10px;
}


.code_box .title_code {
    float: left;
    width: calc(100%);
    padding: 10px;
    margin: 0px 10px 0 0;
    background-color: #888888;
    color: #fff;
    font-family: "Open Sans", Tahoma, sans-serif;
    font-size: 10px;
    border-radius: 10px 10px 0px 0px;
}

.code_box pre {
    float: left;
    width: calc(100%);
    position: relative;
    font-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;

}

code {
    font-size: 16px;
    color: #888888;
    font-weight: 300;
    font-family: "PT Mono", Courier New, Tahoma, sans-serif;
}

code b {
    font-weight: 300;

}

header img {
    width: 80px;
    float: left;
}

header .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: 10px;
}

main .container {
    margin-top: 25px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    position: relative;
    top: 50px;
}

.python {
    text-align: left;
    float: left;
    position: relative;
    color: #fff;
}


.form-control{
    float: left;
    text-align: center;
    width: 80px

}


.form-label{
    float: left;

    width: calc(100%);

    font-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;

}

#box{
    background: #888888;
}

.bot{
    margin-top:20px;
}

