{% extends 'base/base.html' %}


{% block content %}

<div class="container" >
      <h1>Вхід</h1>
     <div class="form-group " >
      <form action="" method="post" >
          {% csrf_token %}

        <div class="form-error">{{ form.non_field_errors }}</div>

            {% for f in form %}
          <p id="table"><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}:</label><br>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div><br>

            {% endfor %}

         <button class="btn btn-primary" type="submit">Вхід</button>
      </form>
         <br>
         <a class="btn btn-success" href="{% url 'register' %}">Реєстрація</a>
     </div>

{% endblock %}