{% extends 'base/base.html' %}


{% block title %}Home{% endblock %}


{% block content %}
<hr class="featurette-divider">

 <div class="container marketing">
 <div class="row featurette">
     <div class="col-md-5 order-md-1">
            <img src="{{post_detail.image_cod.url}}" width="450" height="450">
        </div>
      <div class="col-md-7">
        <h1 class="featurette-heading clip">{{ post_detail.name }}<br></h1>
            <span class="text-muted">Код команти в зображенні</span><br>
    <div>
        <h4>Описання:<br>{{ post_detail.description }}</h4>
    </div>
      </div>

    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-5 order-md-1">
            <img src="{{post_detail.image_res.url}}" width="450" height="450">
        </div>
        <div class="col-md-7 order-md-2">
            <h1 class="featurette-heading clip">{{ post_detail.name }} <br>
                <span class="text-muted">Результат виконання команди.</span></h1>
         <div class = "title_code  text-center"><h3>Приклад</h3></div> <pre><code class="python">{{post_detail.description_cod}}</code></pre>
        </div>
    </div>
   <hr class="featurette-divider">
 </div>





{% endblock %}