{% extends 'base.html' %}
{% load static %}
{% load category_tags %}


{% block content %}


<header id="headerwrap">
  {% include 'base/header.html' %}
</header>

<div id="lg">
  {% include 'category/category.html' %}
</div>

<section class="container w">
  {% include 'base/section.html' %}
</section>

<main id="dg">
  {% include 'base/main.html' %}
</main>

<aside id="pag">
  {% include 'base/paginator.html' %}
</aside>

<section class="container wb">
  {% include 'base/section2.html' %}
</section>

<section id="r">
  {% include 'base/section3.html' %}
</section>


{% endblock %}